body {
	font-family: 'Roboto', sans-serif;
	color: #333;
}

img {
	max-width: 100%;
	height: auto;
}

/* TGO: This select will take all the content of the page.
		The property is used at row.css to divide the row__4 and row__8 sections */
* {
	box-sizing: border-box;
}

/* TGO: The definition of links is in global because the probability of generic use
		is bigger to this property */
a {
	color: $mainOrange;
}