.page-section {
	padding: 1.2rem 0;

	@mixin atMedium {
		padding: 4.5rem 0;
	}

	/* TGO Start: This atMidium is not used but stay here for the future */
	&--no-b-padding-until-medium { /* TGO: Rule for the last testimonial bottom */
		padding-bottom: 0;

		@mixin atMedium {
			padding-bottom: 4.5rem;
		}
	}
	/* TGO End: This atMidium is not used but stay here for the future */

	&--no-b-padding-until-large { /* TGO: Rule for the last testimonial bottom */
		padding-bottom: 0;

		@mixin atLarge {
			padding-bottom: 4.5rem;
		}
	}

	&--blue {
		background-color: $mainBlue;
		color: #fff;
	}

	/* TGO: Properties top, center, no-repeat and size are to align the image in the browser */
	&--testimonials {
		background-color: #e0e6ef;

		@mixin atLarge {
			
			&.lazyloaded { /* TGO: Lazyload rule togheter with html file to load the file late */
				background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
				background-size: cover;
			}
		}
	}
}