.section-title {
	font-size: 2.55rem;
	font-weight: 300;
	text-align: center;

	@mixin atSmall {
		font-size: 3.75rem;
	}

	strong { /* TGO: Rule to let the font weight difference perceptive */
		font-weight: 500;
	}

	/* TGO: Icon rules with the mixin plays together to centralize icon in small screen
			and get spaces properties on large screens */
	&__icon {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: .6rem;

		@mixin atSmall {
			margin-right: .5rem;
			margin-left: 0;
			margin-bottom: 0;
			display: inline-block;
		}
	}
}